.dashboard {
  .menu {
    position: relative !important;
    margin-top: 15px !important;
  }
}

.client{
  font-size: 16px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: rgba(179, 179, 179, 1);
}

#year .rw-input{
  min-height: 28px !important;
}
