/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$ad-name: 'ad';
$ad-x: 30px;
$ad-y: 0px;
$ad-offset-x: -30px;
$ad-offset-y: 0px;
$ad-width: 29px;
$ad-height: 20px;
$ad-total-width: 404px;
$ad-total-height: 380px;
$ad-image: '../img/flags.png';
$ad: 30px 0px -30px 0px 29px 20px 404px 380px '../img/flags.png' 'ad';
$ae-name: 'ae';
$ae-x: 40px;
$ae-y: 240px;
$ae-offset-x: -40px;
$ae-offset-y: -240px;
$ae-width: 40px;
$ae-height: 20px;
$ae-total-width: 404px;
$ae-total-height: 380px;
$ae-image: '../img/flags.png';
$ae: 40px 240px -40px -240px 40px 20px 404px 380px '../img/flags.png' 'ae';
$af-name: 'af';
$af-x: 0px;
$af-y: 20px;
$af-offset-x: 0px;
$af-offset-y: -20px;
$af-width: 30px;
$af-height: 20px;
$af-total-width: 404px;
$af-total-height: 380px;
$af-image: '../img/flags.png';
$af: 0px 20px 0px -20px 30px 20px 404px 380px '../img/flags.png' 'af';
$ag-name: 'ag';
$ag-x: 59px;
$ag-y: 0px;
$ag-offset-x: -59px;
$ag-offset-y: 0px;
$ag-width: 30px;
$ag-height: 20px;
$ag-total-width: 404px;
$ag-total-height: 380px;
$ag-image: '../img/flags.png';
$ag: 59px 0px -59px 0px 30px 20px 404px 380px '../img/flags.png' 'ag';
$al-name: 'al';
$al-x: 59px;
$al-y: 20px;
$al-offset-x: -59px;
$al-offset-y: -20px;
$al-width: 28px;
$al-height: 20px;
$al-total-width: 404px;
$al-total-height: 380px;
$al-image: '../img/flags.png';
$al: 59px 20px -59px -20px 28px 20px 404px 380px '../img/flags.png' 'al';
$am-name: 'am';
$am-x: 0px;
$am-y: 40px;
$am-offset-x: 0px;
$am-offset-y: -40px;
$am-width: 40px;
$am-height: 20px;
$am-total-width: 404px;
$am-total-height: 380px;
$am-image: '../img/flags.png';
$am: 0px 40px 0px -40px 40px 20px 404px 380px '../img/flags.png' 'am';
$ao-name: 'ao';
$ao-x: 40px;
$ao-y: 40px;
$ao-offset-x: -40px;
$ao-offset-y: -40px;
$ao-width: 30px;
$ao-height: 20px;
$ao-total-width: 404px;
$ao-total-height: 380px;
$ao-image: '../img/flags.png';
$ao: 40px 40px -40px -40px 30px 20px 404px 380px '../img/flags.png' 'ao';
$ar-name: 'ar';
$ar-x: 0px;
$ar-y: 60px;
$ar-offset-x: 0px;
$ar-offset-y: -60px;
$ar-width: 31px;
$ar-height: 20px;
$ar-total-width: 404px;
$ar-total-height: 380px;
$ar-image: '../img/flags.png';
$ar: 0px 60px 0px -60px 31px 20px 404px 380px '../img/flags.png' 'ar';
$at-name: 'at';
$at-x: 31px;
$at-y: 60px;
$at-offset-x: -31px;
$at-offset-y: -60px;
$at-width: 30px;
$at-height: 20px;
$at-total-width: 404px;
$at-total-height: 380px;
$at-image: '../img/flags.png';
$at: 31px 60px -31px -60px 30px 20px 404px 380px '../img/flags.png' 'at';
$au-name: 'au';
$au-x: 89px;
$au-y: 0px;
$au-offset-x: -89px;
$au-offset-y: 0px;
$au-width: 40px;
$au-height: 20px;
$au-total-width: 404px;
$au-total-height: 380px;
$au-image: '../img/flags.png';
$au: 89px 0px -89px 0px 40px 20px 404px 380px '../img/flags.png' 'au';
$az-name: 'az';
$az-x: 89px;
$az-y: 20px;
$az-offset-x: -89px;
$az-offset-y: -20px;
$az-width: 40px;
$az-height: 20px;
$az-total-width: 404px;
$az-total-height: 380px;
$az-image: '../img/flags.png';
$az: 89px 20px -89px -20px 40px 20px 404px 380px '../img/flags.png' 'az';
$ba-name: 'ba';
$ba-x: 89px;
$ba-y: 40px;
$ba-offset-x: -89px;
$ba-offset-y: -40px;
$ba-width: 40px;
$ba-height: 20px;
$ba-total-width: 404px;
$ba-total-height: 380px;
$ba-image: '../img/flags.png';
$ba: 89px 40px -89px -40px 40px 20px 404px 380px '../img/flags.png' 'ba';
$bb-name: 'bb';
$bb-x: 89px;
$bb-y: 60px;
$bb-offset-x: -89px;
$bb-offset-y: -60px;
$bb-width: 30px;
$bb-height: 20px;
$bb-total-width: 404px;
$bb-total-height: 380px;
$bb-image: '../img/flags.png';
$bb: 89px 60px -89px -60px 30px 20px 404px 380px '../img/flags.png' 'bb';
$bd-name: 'bd';
$bd-x: 0px;
$bd-y: 80px;
$bd-offset-x: 0px;
$bd-offset-y: -80px;
$bd-width: 33px;
$bd-height: 20px;
$bd-total-width: 404px;
$bd-total-height: 380px;
$bd-image: '../img/flags.png';
$bd: 0px 80px 0px -80px 33px 20px 404px 380px '../img/flags.png' 'bd';
$be-name: 'be';
$be-x: 30px;
$be-y: 20px;
$be-offset-x: -30px;
$be-offset-y: -20px;
$be-width: 23px;
$be-height: 20px;
$be-total-width: 404px;
$be-total-height: 380px;
$be-image: '../img/flags.png';
$be: 30px 20px -30px -20px 23px 20px 404px 380px '../img/flags.png' 'be';
$bf-name: 'bf';
$bf-x: 33px;
$bf-y: 80px;
$bf-offset-x: -33px;
$bf-offset-y: -80px;
$bf-width: 30px;
$bf-height: 20px;
$bf-total-width: 404px;
$bf-total-height: 380px;
$bf-image: '../img/flags.png';
$bf: 33px 80px -33px -80px 30px 20px 404px 380px '../img/flags.png' 'bf';
$bg-name: 'bg';
$bg-x: 63px;
$bg-y: 80px;
$bg-offset-x: -63px;
$bg-offset-y: -80px;
$bg-width: 33px;
$bg-height: 20px;
$bg-total-width: 404px;
$bg-total-height: 380px;
$bg-image: '../img/flags.png';
$bg: 63px 80px -63px -80px 33px 20px 404px 380px '../img/flags.png' 'bg';
$bh-name: 'bh';
$bh-x: 96px;
$bh-y: 80px;
$bh-offset-x: -96px;
$bh-offset-y: -80px;
$bh-width: 33px;
$bh-height: 20px;
$bh-total-width: 404px;
$bh-total-height: 380px;
$bh-image: '../img/flags.png';
$bh: 96px 80px -96px -80px 33px 20px 404px 380px '../img/flags.png' 'bh';
$bi-name: 'bi';
$bi-x: 0px;
$bi-y: 100px;
$bi-offset-x: 0px;
$bi-offset-y: -100px;
$bi-width: 33px;
$bi-height: 20px;
$bi-total-width: 404px;
$bi-total-height: 380px;
$bi-image: '../img/flags.png';
$bi: 0px 100px 0px -100px 33px 20px 404px 380px '../img/flags.png' 'bi';
$bj-name: 'bj';
$bj-x: 33px;
$bj-y: 100px;
$bj-offset-x: -33px;
$bj-offset-y: -100px;
$bj-width: 30px;
$bj-height: 20px;
$bj-total-width: 404px;
$bj-total-height: 380px;
$bj-image: '../img/flags.png';
$bj: 33px 100px -33px -100px 30px 20px 404px 380px '../img/flags.png' 'bj';
$bn-name: 'bn';
$bn-x: 63px;
$bn-y: 100px;
$bn-offset-x: -63px;
$bn-offset-y: -100px;
$bn-width: 40px;
$bn-height: 20px;
$bn-total-width: 404px;
$bn-total-height: 380px;
$bn-image: '../img/flags.png';
$bn: 63px 100px -63px -100px 40px 20px 404px 380px '../img/flags.png' 'bn';
$bo-name: 'bo';
$bo-x: 129px;
$bo-y: 0px;
$bo-offset-x: -129px;
$bo-offset-y: 0px;
$bo-width: 29px;
$bo-height: 20px;
$bo-total-width: 404px;
$bo-total-height: 380px;
$bo-image: '../img/flags.png';
$bo: 129px 0px -129px 0px 29px 20px 404px 380px '../img/flags.png' 'bo';
$br-name: 'br';
$br-x: 129px;
$br-y: 20px;
$br-offset-x: -129px;
$br-offset-y: -20px;
$br-width: 29px;
$br-height: 20px;
$br-total-width: 404px;
$br-total-height: 380px;
$br-image: '../img/flags.png';
$br: 129px 20px -129px -20px 29px 20px 404px 380px '../img/flags.png' 'br';
$bs-name: 'bs';
$bs-x: 0px;
$bs-y: 120px;
$bs-offset-x: 0px;
$bs-offset-y: -120px;
$bs-width: 40px;
$bs-height: 20px;
$bs-total-width: 404px;
$bs-total-height: 380px;
$bs-image: '../img/flags.png';
$bs: 0px 120px 0px -120px 40px 20px 404px 380px '../img/flags.png' 'bs';
$bt-name: 'bt';
$bt-x: 40px;
$bt-y: 120px;
$bt-offset-x: -40px;
$bt-offset-y: -120px;
$bt-width: 30px;
$bt-height: 20px;
$bt-total-width: 404px;
$bt-total-height: 380px;
$bt-image: '../img/flags.png';
$bt: 40px 120px -40px -120px 30px 20px 404px 380px '../img/flags.png' 'bt';
$bw-name: 'bw';
$bw-x: 70px;
$bw-y: 120px;
$bw-offset-x: -70px;
$bw-offset-y: -120px;
$bw-width: 30px;
$bw-height: 20px;
$bw-total-width: 404px;
$bw-total-height: 380px;
$bw-image: '../img/flags.png';
$bw: 70px 120px -70px -120px 30px 20px 404px 380px '../img/flags.png' 'bw';
$by-name: 'by';
$by-x: 100px;
$by-y: 120px;
$by-offset-x: -100px;
$by-offset-y: -120px;
$by-width: 40px;
$by-height: 20px;
$by-total-width: 404px;
$by-total-height: 380px;
$by-image: '../img/flags.png';
$by: 100px 120px -100px -120px 40px 20px 404px 380px '../img/flags.png' 'by';
$bz-name: 'bz';
$bz-x: 158px;
$bz-y: 0px;
$bz-offset-x: -158px;
$bz-offset-y: 0px;
$bz-width: 30px;
$bz-height: 20px;
$bz-total-width: 404px;
$bz-total-height: 380px;
$bz-image: '../img/flags.png';
$bz: 158px 0px -158px 0px 30px 20px 404px 380px '../img/flags.png' 'bz';
$ca-name: 'ca';
$ca-x: 0px;
$ca-y: 140px;
$ca-offset-x: 0px;
$ca-offset-y: -140px;
$ca-width: 40px;
$ca-height: 20px;
$ca-total-width: 404px;
$ca-total-height: 380px;
$ca-image: '../img/flags.png';
$ca: 0px 140px 0px -140px 40px 20px 404px 380px '../img/flags.png' 'ca';
$cd-name: 'cd';
$cd-x: 158px;
$cd-y: 20px;
$cd-offset-x: -158px;
$cd-offset-y: -20px;
$cd-width: 30px;
$cd-height: 20px;
$cd-total-width: 404px;
$cd-total-height: 380px;
$cd-image: '../img/flags.png';
$cd: 158px 20px -158px -20px 30px 20px 404px 380px '../img/flags.png' 'cd';
$cf-name: 'cf';
$cf-x: 158px;
$cf-y: 40px;
$cf-offset-x: -158px;
$cf-offset-y: -40px;
$cf-width: 30px;
$cf-height: 20px;
$cf-total-width: 404px;
$cf-total-height: 380px;
$cf-image: '../img/flags.png';
$cf: 158px 40px -158px -40px 30px 20px 404px 380px '../img/flags.png' 'cf';
$cg-name: 'cg';
$cg-x: 158px;
$cg-y: 60px;
$cg-offset-x: -158px;
$cg-offset-y: -60px;
$cg-width: 30px;
$cg-height: 20px;
$cg-total-width: 404px;
$cg-total-height: 380px;
$cg-image: '../img/flags.png';
$cg: 158px 60px -158px -60px 30px 20px 404px 380px '../img/flags.png' 'cg';
$ch-name: 'ch';
$ch-x: 158px;
$ch-y: 80px;
$ch-offset-x: -158px;
$ch-offset-y: -80px;
$ch-width: 20px;
$ch-height: 20px;
$ch-total-width: 404px;
$ch-total-height: 380px;
$ch-image: '../img/flags.png';
$ch: 158px 80px -158px -80px 20px 20px 404px 380px '../img/flags.png' 'ch';
$ci-name: 'ci';
$ci-x: 158px;
$ci-y: 100px;
$ci-offset-x: -158px;
$ci-offset-y: -100px;
$ci-width: 30px;
$ci-height: 20px;
$ci-total-width: 404px;
$ci-total-height: 380px;
$ci-image: '../img/flags.png';
$ci: 158px 100px -158px -100px 30px 20px 404px 380px '../img/flags.png' 'ci';
$cl-name: 'cl';
$cl-x: 158px;
$cl-y: 120px;
$cl-offset-x: -158px;
$cl-offset-y: -120px;
$cl-width: 30px;
$cl-height: 20px;
$cl-total-width: 404px;
$cl-total-height: 380px;
$cl-image: '../img/flags.png';
$cl: 158px 120px -158px -120px 30px 20px 404px 380px '../img/flags.png' 'cl';
$cm-name: 'cm';
$cm-x: 40px;
$cm-y: 140px;
$cm-offset-x: -40px;
$cm-offset-y: -140px;
$cm-width: 30px;
$cm-height: 20px;
$cm-total-width: 404px;
$cm-total-height: 380px;
$cm-image: '../img/flags.png';
$cm: 40px 140px -40px -140px 30px 20px 404px 380px '../img/flags.png' 'cm';
$cn-name: 'cn';
$cn-x: 70px;
$cn-y: 140px;
$cn-offset-x: -70px;
$cn-offset-y: -140px;
$cn-width: 30px;
$cn-height: 20px;
$cn-total-width: 404px;
$cn-total-height: 380px;
$cn-image: '../img/flags.png';
$cn: 70px 140px -70px -140px 30px 20px 404px 380px '../img/flags.png' 'cn';
$co-name: 'co';
$co-x: 100px;
$co-y: 140px;
$co-offset-x: -100px;
$co-offset-y: -140px;
$co-width: 30px;
$co-height: 20px;
$co-total-width: 404px;
$co-total-height: 380px;
$co-image: '../img/flags.png';
$co: 100px 140px -100px -140px 30px 20px 404px 380px '../img/flags.png' 'co';
$cr-name: 'cr';
$cr-x: 130px;
$cr-y: 140px;
$cr-offset-x: -130px;
$cr-offset-y: -140px;
$cr-width: 33px;
$cr-height: 20px;
$cr-total-width: 404px;
$cr-total-height: 380px;
$cr-image: '../img/flags.png';
$cr: 130px 140px -130px -140px 33px 20px 404px 380px '../img/flags.png' 'cr';
$cu-name: 'cu';
$cu-x: 0px;
$cu-y: 160px;
$cu-offset-x: 0px;
$cu-offset-y: -160px;
$cu-width: 40px;
$cu-height: 20px;
$cu-total-width: 404px;
$cu-total-height: 380px;
$cu-image: '../img/flags.png';
$cu: 0px 160px 0px -160px 40px 20px 404px 380px '../img/flags.png' 'cu';
$cv-name: 'cv';
$cv-x: 40px;
$cv-y: 160px;
$cv-offset-x: -40px;
$cv-offset-y: -160px;
$cv-width: 34px;
$cv-height: 20px;
$cv-total-width: 404px;
$cv-total-height: 380px;
$cv-image: '../img/flags.png';
$cv: 40px 160px -40px -160px 34px 20px 404px 380px '../img/flags.png' 'cv';
$cy-name: 'cy';
$cy-x: 74px;
$cy-y: 160px;
$cy-offset-x: -74px;
$cy-offset-y: -160px;
$cy-width: 33px;
$cy-height: 20px;
$cy-total-width: 404px;
$cy-total-height: 380px;
$cy-image: '../img/flags.png';
$cy: 74px 160px -74px -160px 33px 20px 404px 380px '../img/flags.png' 'cy';
$cz-name: 'cz';
$cz-x: 107px;
$cz-y: 160px;
$cz-offset-x: -107px;
$cz-offset-y: -160px;
$cz-width: 30px;
$cz-height: 20px;
$cz-total-width: 404px;
$cz-total-height: 380px;
$cz-image: '../img/flags.png';
$cz: 107px 160px -107px -160px 30px 20px 404px 380px '../img/flags.png' 'cz';
$de-name: 'de';
$de-x: 137px;
$de-y: 160px;
$de-offset-x: -137px;
$de-offset-y: -160px;
$de-width: 33px;
$de-height: 20px;
$de-total-width: 404px;
$de-total-height: 380px;
$de-image: '../img/flags.png';
$de: 137px 160px -137px -160px 33px 20px 404px 380px '../img/flags.png' 'de';
$dj-name: 'dj';
$dj-x: 188px;
$dj-y: 0px;
$dj-offset-x: -188px;
$dj-offset-y: 0px;
$dj-width: 30px;
$dj-height: 20px;
$dj-total-width: 404px;
$dj-total-height: 380px;
$dj-image: '../img/flags.png';
$dj: 188px 0px -188px 0px 30px 20px 404px 380px '../img/flags.png' 'dj';
$dk-name: 'dk';
$dk-x: 188px;
$dk-y: 20px;
$dk-offset-x: -188px;
$dk-offset-y: -20px;
$dk-width: 26px;
$dk-height: 20px;
$dk-total-width: 404px;
$dk-total-height: 380px;
$dk-image: '../img/flags.png';
$dk: 188px 20px -188px -20px 26px 20px 404px 380px '../img/flags.png' 'dk';
$dm-name: 'dm';
$dm-x: 0px;
$dm-y: 180px;
$dm-offset-x: 0px;
$dm-offset-y: -180px;
$dm-width: 40px;
$dm-height: 20px;
$dm-total-width: 404px;
$dm-total-height: 380px;
$dm-image: '../img/flags.png';
$dm: 0px 180px 0px -180px 40px 20px 404px 380px '../img/flags.png' 'dm';
$do-name: 'do';
$do-x: 40px;
$do-y: 180px;
$do-offset-x: -40px;
$do-offset-y: -180px;
$do-width: 32px;
$do-height: 20px;
$do-total-width: 404px;
$do-total-height: 380px;
$do-image: '../img/flags.png';
$do: 40px 180px -40px -180px 32px 20px 404px 380px '../img/flags.png' 'do';
$dz-name: 'dz';
$dz-x: 188px;
$dz-y: 40px;
$dz-offset-x: -188px;
$dz-offset-y: -40px;
$dz-width: 30px;
$dz-height: 20px;
$dz-total-width: 404px;
$dz-total-height: 380px;
$dz-image: '../img/flags.png';
$dz: 188px 40px -188px -40px 30px 20px 404px 380px '../img/flags.png' 'dz';
$ec-name: 'ec';
$ec-x: 72px;
$ec-y: 180px;
$ec-offset-x: -72px;
$ec-offset-y: -180px;
$ec-width: 40px;
$ec-height: 20px;
$ec-total-width: 404px;
$ec-total-height: 380px;
$ec-image: '../img/flags.png';
$ec: 72px 180px -72px -180px 40px 20px 404px 380px '../img/flags.png' 'ec';
$ee-name: 'ee';
$ee-x: 112px;
$ee-y: 180px;
$ee-offset-x: -112px;
$ee-offset-y: -180px;
$ee-width: 31px;
$ee-height: 20px;
$ee-total-width: 404px;
$ee-total-height: 380px;
$ee-image: '../img/flags.png';
$ee: 112px 180px -112px -180px 31px 20px 404px 380px '../img/flags.png' 'ee';
$eg-name: 'eg';
$eg-x: 188px;
$eg-y: 60px;
$eg-offset-x: -188px;
$eg-offset-y: -60px;
$eg-width: 30px;
$eg-height: 20px;
$eg-total-width: 404px;
$eg-total-height: 380px;
$eg-image: '../img/flags.png';
$eg: 188px 60px -188px -60px 30px 20px 404px 380px '../img/flags.png' 'eg';
$eh-name: 'eh';
$eh-x: 143px;
$eh-y: 180px;
$eh-offset-x: -143px;
$eh-offset-y: -180px;
$eh-width: 40px;
$eh-height: 20px;
$eh-total-width: 404px;
$eh-total-height: 380px;
$eh-image: '../img/flags.png';
$eh: 143px 180px -143px -180px 40px 20px 404px 380px '../img/flags.png' 'eh';
$er-name: 'er';
$er-x: 218px;
$er-y: 0px;
$er-offset-x: -218px;
$er-offset-y: 0px;
$er-width: 40px;
$er-height: 20px;
$er-total-width: 404px;
$er-total-height: 380px;
$er-image: '../img/flags.png';
$er: 218px 0px -218px 0px 40px 20px 404px 380px '../img/flags.png' 'er';
$es-name: 'es';
$es-x: 218px;
$es-y: 20px;
$es-offset-x: -218px;
$es-offset-y: -20px;
$es-width: 30px;
$es-height: 20px;
$es-total-width: 404px;
$es-total-height: 380px;
$es-image: '../img/flags.png';
$es: 218px 20px -218px -20px 30px 20px 404px 380px '../img/flags.png' 'es';
$et-name: 'et';
$et-x: 218px;
$et-y: 40px;
$et-offset-x: -218px;
$et-offset-y: -40px;
$et-width: 40px;
$et-height: 20px;
$et-total-width: 404px;
$et-total-height: 380px;
$et-image: '../img/flags.png';
$et: 218px 40px -218px -40px 40px 20px 404px 380px '../img/flags.png' 'et';
$fi-name: 'fi';
$fi-x: 218px;
$fi-y: 60px;
$fi-offset-x: -218px;
$fi-offset-y: -60px;
$fi-width: 33px;
$fi-height: 20px;
$fi-total-width: 404px;
$fi-total-height: 380px;
$fi-image: '../img/flags.png';
$fi: 218px 60px -218px -60px 33px 20px 404px 380px '../img/flags.png' 'fi';
$fj-name: 'fj';
$fj-x: 218px;
$fj-y: 80px;
$fj-offset-x: -218px;
$fj-offset-y: -80px;
$fj-width: 40px;
$fj-height: 20px;
$fj-total-width: 404px;
$fj-total-height: 380px;
$fj-image: '../img/flags.png';
$fj: 218px 80px -218px -80px 40px 20px 404px 380px '../img/flags.png' 'fj';
$fm-name: 'fm';
$fm-x: 218px;
$fm-y: 100px;
$fm-offset-x: -218px;
$fm-offset-y: -100px;
$fm-width: 38px;
$fm-height: 20px;
$fm-total-width: 404px;
$fm-total-height: 380px;
$fm-image: '../img/flags.png';
$fm: 218px 100px -218px -100px 38px 20px 404px 380px '../img/flags.png' 'fm';
$fr-name: 'fr';
$fr-x: 218px;
$fr-y: 120px;
$fr-offset-x: -218px;
$fr-offset-y: -120px;
$fr-width: 30px;
$fr-height: 20px;
$fr-total-width: 404px;
$fr-total-height: 380px;
$fr-image: '../img/flags.png';
$fr: 218px 120px -218px -120px 30px 20px 404px 380px '../img/flags.png' 'fr';
$ga-name: 'ga';
$ga-x: 218px;
$ga-y: 140px;
$ga-offset-x: -218px;
$ga-offset-y: -140px;
$ga-width: 27px;
$ga-height: 20px;
$ga-total-width: 404px;
$ga-total-height: 380px;
$ga-image: '../img/flags.png';
$ga: 218px 140px -218px -140px 27px 20px 404px 380px '../img/flags.png' 'ga';
$gb-name: 'gb';
$gb-x: 218px;
$gb-y: 160px;
$gb-offset-x: -218px;
$gb-offset-y: -160px;
$gb-width: 40px;
$gb-height: 20px;
$gb-total-width: 404px;
$gb-total-height: 380px;
$gb-image: '../img/flags.png';
$gb: 218px 160px -218px -160px 40px 20px 404px 380px '../img/flags.png' 'gb';
$gd-name: 'gd';
$gd-x: 218px;
$gd-y: 180px;
$gd-offset-x: -218px;
$gd-offset-y: -180px;
$gd-width: 33px;
$gd-height: 20px;
$gd-total-width: 404px;
$gd-total-height: 380px;
$gd-image: '../img/flags.png';
$gd: 218px 180px -218px -180px 33px 20px 404px 380px '../img/flags.png' 'gd';
$ge-name: 'ge';
$ge-x: 188px;
$ge-y: 80px;
$ge-offset-x: -188px;
$ge-offset-y: -80px;
$ge-width: 30px;
$ge-height: 20px;
$ge-total-width: 404px;
$ge-total-height: 380px;
$ge-image: '../img/flags.png';
$ge: 188px 80px -188px -80px 30px 20px 404px 380px '../img/flags.png' 'ge';
$gh-name: 'gh';
$gh-x: 188px;
$gh-y: 100px;
$gh-offset-x: -188px;
$gh-offset-y: -100px;
$gh-width: 30px;
$gh-height: 20px;
$gh-total-width: 404px;
$gh-total-height: 380px;
$gh-image: '../img/flags.png';
$gh: 188px 100px -188px -100px 30px 20px 404px 380px '../img/flags.png' 'gh';
$gm-name: 'gm';
$gm-x: 188px;
$gm-y: 120px;
$gm-offset-x: -188px;
$gm-offset-y: -120px;
$gm-width: 30px;
$gm-height: 20px;
$gm-total-width: 404px;
$gm-total-height: 380px;
$gm-image: '../img/flags.png';
$gm: 188px 120px -188px -120px 30px 20px 404px 380px '../img/flags.png' 'gm';
$gn-name: 'gn';
$gn-x: 188px;
$gn-y: 140px;
$gn-offset-x: -188px;
$gn-offset-y: -140px;
$gn-width: 30px;
$gn-height: 20px;
$gn-total-width: 404px;
$gn-total-height: 380px;
$gn-image: '../img/flags.png';
$gn: 188px 140px -188px -140px 30px 20px 404px 380px '../img/flags.png' 'gn';
$gq-name: 'gq';
$gq-x: 188px;
$gq-y: 160px;
$gq-offset-x: -188px;
$gq-offset-y: -160px;
$gq-width: 30px;
$gq-height: 20px;
$gq-total-width: 404px;
$gq-total-height: 380px;
$gq-image: '../img/flags.png';
$gq: 188px 160px -188px -160px 30px 20px 404px 380px '../img/flags.png' 'gq';
$gr-name: 'gr';
$gr-x: 183px;
$gr-y: 180px;
$gr-offset-x: -183px;
$gr-offset-y: -180px;
$gr-width: 30px;
$gr-height: 20px;
$gr-total-width: 404px;
$gr-total-height: 380px;
$gr-image: '../img/flags.png';
$gr: 183px 180px -183px -180px 30px 20px 404px 380px '../img/flags.png' 'gr';
$gt-name: 'gt';
$gt-x: 0px;
$gt-y: 200px;
$gt-offset-x: 0px;
$gt-offset-y: -200px;
$gt-width: 32px;
$gt-height: 20px;
$gt-total-width: 404px;
$gt-total-height: 380px;
$gt-image: '../img/flags.png';
$gt: 0px 200px 0px -200px 32px 20px 404px 380px '../img/flags.png' 'gt';
$gw-name: 'gw';
$gw-x: 32px;
$gw-y: 200px;
$gw-offset-x: -32px;
$gw-offset-y: -200px;
$gw-width: 40px;
$gw-height: 20px;
$gw-total-width: 404px;
$gw-total-height: 380px;
$gw-image: '../img/flags.png';
$gw: 32px 200px -32px -200px 40px 20px 404px 380px '../img/flags.png' 'gw';
$gy-name: 'gy';
$gy-x: 72px;
$gy-y: 200px;
$gy-offset-x: -72px;
$gy-offset-y: -200px;
$gy-width: 33px;
$gy-height: 20px;
$gy-total-width: 404px;
$gy-total-height: 380px;
$gy-image: '../img/flags.png';
$gy: 72px 200px -72px -200px 33px 20px 404px 380px '../img/flags.png' 'gy';
$hn-name: 'hn';
$hn-x: 105px;
$hn-y: 200px;
$hn-offset-x: -105px;
$hn-offset-y: -200px;
$hn-width: 40px;
$hn-height: 20px;
$hn-total-width: 404px;
$hn-total-height: 380px;
$hn-image: '../img/flags.png';
$hn: 105px 200px -105px -200px 40px 20px 404px 380px '../img/flags.png' 'hn';
$hr-name: 'hr';
$hr-x: 145px;
$hr-y: 200px;
$hr-offset-x: -145px;
$hr-offset-y: -200px;
$hr-width: 40px;
$hr-height: 20px;
$hr-total-width: 404px;
$hr-total-height: 380px;
$hr-image: '../img/flags.png';
$hr: 145px 200px -145px -200px 40px 20px 404px 380px '../img/flags.png' 'hr';
$ht-name: 'ht';
$ht-x: 185px;
$ht-y: 200px;
$ht-offset-x: -185px;
$ht-offset-y: -200px;
$ht-width: 33px;
$ht-height: 20px;
$ht-total-width: 404px;
$ht-total-height: 380px;
$ht-image: '../img/flags.png';
$ht: 185px 200px -185px -200px 33px 20px 404px 380px '../img/flags.png' 'ht';
$hu-name: 'hu';
$hu-x: 218px;
$hu-y: 200px;
$hu-offset-x: -218px;
$hu-offset-y: -200px;
$hu-width: 40px;
$hu-height: 20px;
$hu-total-width: 404px;
$hu-total-height: 380px;
$hu-image: '../img/flags.png';
$hu: 218px 200px -218px -200px 40px 20px 404px 380px '../img/flags.png' 'hu';
$id-name: 'id';
$id-x: 0px;
$id-y: 220px;
$id-offset-x: 0px;
$id-offset-y: -220px;
$id-width: 30px;
$id-height: 20px;
$id-total-width: 404px;
$id-total-height: 380px;
$id-image: '../img/flags.png';
$id: 0px 220px 0px -220px 30px 20px 404px 380px '../img/flags.png' 'id';
$ie-name: 'ie';
$ie-x: 30px;
$ie-y: 220px;
$ie-offset-x: -30px;
$ie-offset-y: -220px;
$ie-width: 40px;
$ie-height: 20px;
$ie-total-width: 404px;
$ie-total-height: 380px;
$ie-image: '../img/flags.png';
$ie: 30px 220px -30px -220px 40px 20px 404px 380px '../img/flags.png' 'ie';
$il-name: 'il';
$il-x: 129px;
$il-y: 40px;
$il-offset-x: -129px;
$il-offset-y: -40px;
$il-width: 28px;
$il-height: 20px;
$il-total-width: 404px;
$il-total-height: 380px;
$il-image: '../img/flags.png';
$il: 129px 40px -129px -40px 28px 20px 404px 380px '../img/flags.png' 'il';
$in-name: 'in';
$in-x: 70px;
$in-y: 220px;
$in-offset-x: -70px;
$in-offset-y: -220px;
$in-width: 30px;
$in-height: 20px;
$in-total-width: 404px;
$in-total-height: 380px;
$in-image: '../img/flags.png';
$in: 70px 220px -70px -220px 30px 20px 404px 380px '../img/flags.png' 'in';
$iq-name: 'iq';
$iq-x: 100px;
$iq-y: 220px;
$iq-offset-x: -100px;
$iq-offset-y: -220px;
$iq-width: 30px;
$iq-height: 20px;
$iq-total-width: 404px;
$iq-total-height: 380px;
$iq-image: '../img/flags.png';
$iq: 100px 220px -100px -220px 30px 20px 404px 380px '../img/flags.png' 'iq';
$ir-name: 'ir';
$ir-x: 130px;
$ir-y: 220px;
$ir-offset-x: -130px;
$ir-offset-y: -220px;
$ir-width: 35px;
$ir-height: 20px;
$ir-total-width: 404px;
$ir-total-height: 380px;
$ir-image: '../img/flags.png';
$ir: 130px 220px -130px -220px 35px 20px 404px 380px '../img/flags.png' 'ir';
$is-name: 'is';
$is-x: 129px;
$is-y: 60px;
$is-offset-x: -129px;
$is-offset-y: -60px;
$is-width: 28px;
$is-height: 20px;
$is-total-width: 404px;
$is-total-height: 380px;
$is-image: '../img/flags.png';
$is: 129px 60px -129px -60px 28px 20px 404px 380px '../img/flags.png' 'is';
$it-name: 'it';
$it-x: 165px;
$it-y: 220px;
$it-offset-x: -165px;
$it-offset-y: -220px;
$it-width: 30px;
$it-height: 20px;
$it-total-width: 404px;
$it-total-height: 380px;
$it-image: '../img/flags.png';
$it: 165px 220px -165px -220px 30px 20px 404px 380px '../img/flags.png' 'it';
$jm-name: 'jm';
$jm-x: 195px;
$jm-y: 220px;
$jm-offset-x: -195px;
$jm-offset-y: -220px;
$jm-width: 40px;
$jm-height: 20px;
$jm-total-width: 404px;
$jm-total-height: 380px;
$jm-image: '../img/flags.png';
$jm: 195px 220px -195px -220px 40px 20px 404px 380px '../img/flags.png' 'jm';
$jo-name: 'jo';
$jo-x: 258px;
$jo-y: 0px;
$jo-offset-x: -258px;
$jo-offset-y: 0px;
$jo-width: 40px;
$jo-height: 20px;
$jo-total-width: 404px;
$jo-total-height: 380px;
$jo-image: '../img/flags.png';
$jo: 258px 0px -258px 0px 40px 20px 404px 380px '../img/flags.png' 'jo';
$jp-name: 'jp';
$jp-x: 258px;
$jp-y: 20px;
$jp-offset-x: -258px;
$jp-offset-y: -20px;
$jp-width: 30px;
$jp-height: 20px;
$jp-total-width: 404px;
$jp-total-height: 380px;
$jp-image: '../img/flags.png';
$jp: 258px 20px -258px -20px 30px 20px 404px 380px '../img/flags.png' 'jp';
$ke-name: 'ke';
$ke-x: 258px;
$ke-y: 40px;
$ke-offset-x: -258px;
$ke-offset-y: -40px;
$ke-width: 30px;
$ke-height: 20px;
$ke-total-width: 404px;
$ke-total-height: 380px;
$ke-image: '../img/flags.png';
$ke: 258px 40px -258px -40px 30px 20px 404px 380px '../img/flags.png' 'ke';
$kg-name: 'kg';
$kg-x: 258px;
$kg-y: 60px;
$kg-offset-x: -258px;
$kg-offset-y: -60px;
$kg-width: 33px;
$kg-height: 20px;
$kg-total-width: 404px;
$kg-total-height: 380px;
$kg-image: '../img/flags.png';
$kg: 258px 60px -258px -60px 33px 20px 404px 380px '../img/flags.png' 'kg';
$kh-name: 'kh';
$kh-x: 258px;
$kh-y: 80px;
$kh-offset-x: -258px;
$kh-offset-y: -80px;
$kh-width: 30px;
$kh-height: 20px;
$kh-total-width: 404px;
$kh-total-height: 380px;
$kh-image: '../img/flags.png';
$kh: 258px 80px -258px -80px 30px 20px 404px 380px '../img/flags.png' 'kh';
$ki-name: 'ki';
$ki-x: 258px;
$ki-y: 100px;
$ki-offset-x: -258px;
$ki-offset-y: -100px;
$ki-width: 40px;
$ki-height: 20px;
$ki-total-width: 404px;
$ki-total-height: 380px;
$ki-image: '../img/flags.png';
$ki: 258px 100px -258px -100px 40px 20px 404px 380px '../img/flags.png' 'ki';
$km-name: 'km';
$km-x: 258px;
$km-y: 120px;
$km-offset-x: -258px;
$km-offset-y: -120px;
$km-width: 33px;
$km-height: 20px;
$km-total-width: 404px;
$km-total-height: 380px;
$km-image: '../img/flags.png';
$km: 258px 120px -258px -120px 33px 20px 404px 380px '../img/flags.png' 'km';
$kn-name: 'kn';
$kn-x: 258px;
$kn-y: 140px;
$kn-offset-x: -258px;
$kn-offset-y: -140px;
$kn-width: 30px;
$kn-height: 20px;
$kn-total-width: 404px;
$kn-total-height: 380px;
$kn-image: '../img/flags.png';
$kn: 258px 140px -258px -140px 30px 20px 404px 380px '../img/flags.png' 'kn';
$kp-name: 'kp';
$kp-x: 258px;
$kp-y: 160px;
$kp-offset-x: -258px;
$kp-offset-y: -160px;
$kp-width: 40px;
$kp-height: 20px;
$kp-total-width: 404px;
$kp-total-height: 380px;
$kp-image: '../img/flags.png';
$kp: 258px 160px -258px -160px 40px 20px 404px 380px '../img/flags.png' 'kp';
$kr-name: 'kr';
$kr-x: 258px;
$kr-y: 180px;
$kr-offset-x: -258px;
$kr-offset-y: -180px;
$kr-width: 30px;
$kr-height: 20px;
$kr-total-width: 404px;
$kr-total-height: 380px;
$kr-image: '../img/flags.png';
$kr: 258px 180px -258px -180px 30px 20px 404px 380px '../img/flags.png' 'kr';
$ks-name: 'ks';
$ks-x: 258px;
$ks-y: 200px;
$ks-offset-x: -258px;
$ks-offset-y: -200px;
$ks-width: 30px;
$ks-height: 20px;
$ks-total-width: 404px;
$ks-total-height: 380px;
$ks-image: '../img/flags.png';
$ks: 258px 200px -258px -200px 30px 20px 404px 380px '../img/flags.png' 'ks';
$kw-name: 'kw';
$kw-x: 258px;
$kw-y: 220px;
$kw-offset-x: -258px;
$kw-offset-y: -220px;
$kw-width: 40px;
$kw-height: 20px;
$kw-total-width: 404px;
$kw-total-height: 380px;
$kw-image: '../img/flags.png';
$kw: 258px 220px -258px -220px 40px 20px 404px 380px '../img/flags.png' 'kw';
$kz-name: 'kz';
$kz-x: 0px;
$kz-y: 240px;
$kz-offset-x: 0px;
$kz-offset-y: -240px;
$kz-width: 40px;
$kz-height: 20px;
$kz-total-width: 404px;
$kz-total-height: 380px;
$kz-image: '../img/flags.png';
$kz: 0px 240px 0px -240px 40px 20px 404px 380px '../img/flags.png' 'kz';
$la-name: 'la';
$la-x: 0px;
$la-y: 0px;
$la-offset-x: 0px;
$la-offset-y: 0px;
$la-width: 30px;
$la-height: 20px;
$la-total-width: 404px;
$la-total-height: 380px;
$la-image: '../img/flags.png';
$la: 0px 0px 0px 0px 30px 20px 404px 380px '../img/flags.png' 'la';
$lb-name: 'lb';
$lb-x: 80px;
$lb-y: 240px;
$lb-offset-x: -80px;
$lb-offset-y: -240px;
$lb-width: 30px;
$lb-height: 20px;
$lb-total-width: 404px;
$lb-total-height: 380px;
$lb-image: '../img/flags.png';
$lb: 80px 240px -80px -240px 30px 20px 404px 380px '../img/flags.png' 'lb';
$lc-name: 'lc';
$lc-x: 110px;
$lc-y: 240px;
$lc-offset-x: -110px;
$lc-offset-y: -240px;
$lc-width: 40px;
$lc-height: 20px;
$lc-total-width: 404px;
$lc-total-height: 380px;
$lc-image: '../img/flags.png';
$lc: 110px 240px -110px -240px 40px 20px 404px 380px '../img/flags.png' 'lc';
$li-name: 'li';
$li-x: 150px;
$li-y: 240px;
$li-offset-x: -150px;
$li-offset-y: -240px;
$li-width: 33px;
$li-height: 20px;
$li-total-width: 404px;
$li-total-height: 380px;
$li-image: '../img/flags.png';
$li: 150px 240px -150px -240px 33px 20px 404px 380px '../img/flags.png' 'li';
$lk-name: 'lk';
$lk-x: 183px;
$lk-y: 240px;
$lk-offset-x: -183px;
$lk-offset-y: -240px;
$lk-width: 40px;
$lk-height: 20px;
$lk-total-width: 404px;
$lk-total-height: 380px;
$lk-image: '../img/flags.png';
$lk: 183px 240px -183px -240px 40px 20px 404px 380px '../img/flags.png' 'lk';
$lr-name: 'lr';
$lr-x: 223px;
$lr-y: 240px;
$lr-offset-x: -223px;
$lr-offset-y: -240px;
$lr-width: 38px;
$lr-height: 20px;
$lr-total-width: 404px;
$lr-total-height: 380px;
$lr-image: '../img/flags.png';
$lr: 223px 240px -223px -240px 38px 20px 404px 380px '../img/flags.png' 'lr';
$ls-name: 'ls';
$ls-x: 261px;
$ls-y: 240px;
$ls-offset-x: -261px;
$ls-offset-y: -240px;
$ls-width: 30px;
$ls-height: 20px;
$ls-total-width: 404px;
$ls-total-height: 380px;
$ls-image: '../img/flags.png';
$ls: 261px 240px -261px -240px 30px 20px 404px 380px '../img/flags.png' 'ls';
$lt-name: 'lt';
$lt-x: 0px;
$lt-y: 260px;
$lt-offset-x: 0px;
$lt-offset-y: -260px;
$lt-width: 33px;
$lt-height: 20px;
$lt-total-width: 404px;
$lt-total-height: 380px;
$lt-image: '../img/flags.png';
$lt: 0px 260px 0px -260px 33px 20px 404px 380px '../img/flags.png' 'lt';
$lu-name: 'lu';
$lu-x: 33px;
$lu-y: 260px;
$lu-offset-x: -33px;
$lu-offset-y: -260px;
$lu-width: 33px;
$lu-height: 20px;
$lu-total-width: 404px;
$lu-total-height: 380px;
$lu-image: '../img/flags.png';
$lu: 33px 260px -33px -260px 33px 20px 404px 380px '../img/flags.png' 'lu';
$lv-name: 'lv';
$lv-x: 66px;
$lv-y: 260px;
$lv-offset-x: -66px;
$lv-offset-y: -260px;
$lv-width: 40px;
$lv-height: 20px;
$lv-total-width: 404px;
$lv-total-height: 380px;
$lv-image: '../img/flags.png';
$lv: 66px 260px -66px -260px 40px 20px 404px 380px '../img/flags.png' 'lv';
$ly-name: 'ly';
$ly-x: 106px;
$ly-y: 260px;
$ly-offset-x: -106px;
$ly-offset-y: -260px;
$ly-width: 40px;
$ly-height: 20px;
$ly-total-width: 404px;
$ly-total-height: 380px;
$ly-image: '../img/flags.png';
$ly: 106px 260px -106px -260px 40px 20px 404px 380px '../img/flags.png' 'ly';
$ma-name: 'ma';
$ma-x: 146px;
$ma-y: 260px;
$ma-offset-x: -146px;
$ma-offset-y: -260px;
$ma-width: 30px;
$ma-height: 20px;
$ma-total-width: 404px;
$ma-total-height: 380px;
$ma-image: '../img/flags.png';
$ma: 146px 260px -146px -260px 30px 20px 404px 380px '../img/flags.png' 'ma';
$mc-name: 'mc';
$mc-x: 129px;
$mc-y: 80px;
$mc-offset-x: -129px;
$mc-offset-y: -80px;
$mc-width: 25px;
$mc-height: 20px;
$mc-total-width: 404px;
$mc-total-height: 380px;
$mc-image: '../img/flags.png';
$mc: 129px 80px -129px -80px 25px 20px 404px 380px '../img/flags.png' 'mc';
$md-name: 'md';
$md-x: 176px;
$md-y: 260px;
$md-offset-x: -176px;
$md-offset-y: -260px;
$md-width: 40px;
$md-height: 20px;
$md-total-width: 404px;
$md-total-height: 380px;
$md-image: '../img/flags.png';
$md: 176px 260px -176px -260px 40px 20px 404px 380px '../img/flags.png' 'md';
$me-name: 'me';
$me-x: 216px;
$me-y: 260px;
$me-offset-x: -216px;
$me-offset-y: -260px;
$me-width: 40px;
$me-height: 20px;
$me-total-width: 404px;
$me-total-height: 380px;
$me-image: '../img/flags.png';
$me: 216px 260px -216px -260px 40px 20px 404px 380px '../img/flags.png' 'me';
$mg-name: 'mg';
$mg-x: 256px;
$mg-y: 260px;
$mg-offset-x: -256px;
$mg-offset-y: -260px;
$mg-width: 30px;
$mg-height: 20px;
$mg-total-width: 404px;
$mg-total-height: 380px;
$mg-image: '../img/flags.png';
$mg: 256px 260px -256px -260px 30px 20px 404px 380px '../img/flags.png' 'mg';
$mh-name: 'mh';
$mh-x: 298px;
$mh-y: 0px;
$mh-offset-x: -298px;
$mh-offset-y: 0px;
$mh-width: 38px;
$mh-height: 20px;
$mh-total-width: 404px;
$mh-total-height: 380px;
$mh-image: '../img/flags.png';
$mh: 298px 0px -298px 0px 38px 20px 404px 380px '../img/flags.png' 'mh';
$mk-name: 'mk';
$mk-x: 0px;
$mk-y: 280px;
$mk-offset-x: 0px;
$mk-offset-y: -280px;
$mk-width: 40px;
$mk-height: 20px;
$mk-total-width: 404px;
$mk-total-height: 380px;
$mk-image: '../img/flags.png';
$mk: 0px 280px 0px -280px 40px 20px 404px 380px '../img/flags.png' 'mk';
$ml-name: 'ml';
$ml-x: 298px;
$ml-y: 20px;
$ml-offset-x: -298px;
$ml-offset-y: -20px;
$ml-width: 30px;
$ml-height: 20px;
$ml-total-width: 404px;
$ml-total-height: 380px;
$ml-image: '../img/flags.png';
$ml: 298px 20px -298px -20px 30px 20px 404px 380px '../img/flags.png' 'ml';
$mm-name: 'mm';
$mm-x: 298px;
$mm-y: 40px;
$mm-offset-x: -298px;
$mm-offset-y: -40px;
$mm-width: 36px;
$mm-height: 20px;
$mm-total-width: 404px;
$mm-total-height: 380px;
$mm-image: '../img/flags.png';
$mm: 298px 40px -298px -40px 36px 20px 404px 380px '../img/flags.png' 'mm';
$mn-name: 'mn';
$mn-x: 40px;
$mn-y: 280px;
$mn-offset-x: -40px;
$mn-offset-y: -280px;
$mn-width: 40px;
$mn-height: 20px;
$mn-total-width: 404px;
$mn-total-height: 380px;
$mn-image: '../img/flags.png';
$mn: 40px 280px -40px -280px 40px 20px 404px 380px '../img/flags.png' 'mn';
$mr-name: 'mr';
$mr-x: 298px;
$mr-y: 60px;
$mr-offset-x: -298px;
$mr-offset-y: -60px;
$mr-width: 30px;
$mr-height: 20px;
$mr-total-width: 404px;
$mr-total-height: 380px;
$mr-image: '../img/flags.png';
$mr: 298px 60px -298px -60px 30px 20px 404px 380px '../img/flags.png' 'mr';
$mt-name: 'mt';
$mt-x: 298px;
$mt-y: 80px;
$mt-offset-x: -298px;
$mt-offset-y: -80px;
$mt-width: 30px;
$mt-height: 20px;
$mt-total-width: 404px;
$mt-total-height: 380px;
$mt-image: '../img/flags.png';
$mt: 298px 80px -298px -80px 30px 20px 404px 380px '../img/flags.png' 'mt';
$mu-name: 'mu';
$mu-x: 298px;
$mu-y: 100px;
$mu-offset-x: -298px;
$mu-offset-y: -100px;
$mu-width: 30px;
$mu-height: 20px;
$mu-total-width: 404px;
$mu-total-height: 380px;
$mu-image: '../img/flags.png';
$mu: 298px 100px -298px -100px 30px 20px 404px 380px '../img/flags.png' 'mu';
$mv-name: 'mv';
$mv-x: 298px;
$mv-y: 120px;
$mv-offset-x: -298px;
$mv-offset-y: -120px;
$mv-width: 30px;
$mv-height: 20px;
$mv-total-width: 404px;
$mv-total-height: 380px;
$mv-image: '../img/flags.png';
$mv: 298px 120px -298px -120px 30px 20px 404px 380px '../img/flags.png' 'mv';
$mw-name: 'mw';
$mw-x: 298px;
$mw-y: 140px;
$mw-offset-x: -298px;
$mw-offset-y: -140px;
$mw-width: 30px;
$mw-height: 20px;
$mw-total-width: 404px;
$mw-total-height: 380px;
$mw-image: '../img/flags.png';
$mw: 298px 140px -298px -140px 30px 20px 404px 380px '../img/flags.png' 'mw';
$mx-name: 'mx';
$mx-x: 298px;
$mx-y: 160px;
$mx-offset-x: -298px;
$mx-offset-y: -160px;
$mx-width: 35px;
$mx-height: 20px;
$mx-total-width: 404px;
$mx-total-height: 380px;
$mx-image: '../img/flags.png';
$mx: 298px 160px -298px -160px 35px 20px 404px 380px '../img/flags.png' 'mx';
$my-name: 'my';
$my-x: 80px;
$my-y: 280px;
$my-offset-x: -80px;
$my-offset-y: -280px;
$my-width: 40px;
$my-height: 20px;
$my-total-width: 404px;
$my-total-height: 380px;
$my-image: '../img/flags.png';
$my: 80px 280px -80px -280px 40px 20px 404px 380px '../img/flags.png' 'my';
$mz-name: 'mz';
$mz-x: 298px;
$mz-y: 180px;
$mz-offset-x: -298px;
$mz-offset-y: -180px;
$mz-width: 30px;
$mz-height: 20px;
$mz-total-width: 404px;
$mz-total-height: 380px;
$mz-image: '../img/flags.png';
$mz: 298px 180px -298px -180px 30px 20px 404px 380px '../img/flags.png' 'mz';
$na-name: 'na';
$na-x: 298px;
$na-y: 200px;
$na-offset-x: -298px;
$na-offset-y: -200px;
$na-width: 30px;
$na-height: 20px;
$na-total-width: 404px;
$na-total-height: 380px;
$na-image: '../img/flags.png';
$na: 298px 200px -298px -200px 30px 20px 404px 380px '../img/flags.png' 'na';
$ne-name: 'ne';
$ne-x: 298px;
$ne-y: 220px;
$ne-offset-x: -298px;
$ne-offset-y: -220px;
$ne-width: 23px;
$ne-height: 20px;
$ne-total-width: 404px;
$ne-total-height: 380px;
$ne-image: '../img/flags.png';
$ne: 298px 220px -298px -220px 23px 20px 404px 380px '../img/flags.png' 'ne';
$ng-name: 'ng';
$ng-x: 120px;
$ng-y: 280px;
$ng-offset-x: -120px;
$ng-offset-y: -280px;
$ng-width: 40px;
$ng-height: 20px;
$ng-total-width: 404px;
$ng-total-height: 380px;
$ng-image: '../img/flags.png';
$ng: 120px 280px -120px -280px 40px 20px 404px 380px '../img/flags.png' 'ng';
$ni-name: 'ni';
$ni-x: 298px;
$ni-y: 240px;
$ni-offset-x: -298px;
$ni-offset-y: -240px;
$ni-width: 33px;
$ni-height: 20px;
$ni-total-width: 404px;
$ni-total-height: 380px;
$ni-image: '../img/flags.png';
$ni: 298px 240px -298px -240px 33px 20px 404px 380px '../img/flags.png' 'ni';
$nl-name: 'nl';
$nl-x: 298px;
$nl-y: 260px;
$nl-offset-x: -298px;
$nl-offset-y: -260px;
$nl-width: 30px;
$nl-height: 20px;
$nl-total-width: 404px;
$nl-total-height: 380px;
$nl-image: '../img/flags.png';
$nl: 298px 260px -298px -260px 30px 20px 404px 380px '../img/flags.png' 'nl';
$no-name: 'no';
$no-x: 129px;
$no-y: 100px;
$no-offset-x: -129px;
$no-offset-y: -100px;
$no-width: 28px;
$no-height: 20px;
$no-total-width: 404px;
$no-total-height: 380px;
$no-image: '../img/flags.png';
$no: 129px 100px -129px -100px 28px 20px 404px 380px '../img/flags.png' 'no';
$np-name: 'np';
$np-x: 70px;
$np-y: 40px;
$np-offset-x: -70px;
$np-offset-y: -40px;
$np-width: 16px;
$np-height: 20px;
$np-total-width: 404px;
$np-total-height: 380px;
$np-image: '../img/flags.png';
$np: 70px 40px -70px -40px 16px 20px 404px 380px '../img/flags.png' 'np';
$nr-name: 'nr';
$nr-x: 160px;
$nr-y: 280px;
$nr-offset-x: -160px;
$nr-offset-y: -280px;
$nr-width: 40px;
$nr-height: 20px;
$nr-total-width: 404px;
$nr-total-height: 380px;
$nr-image: '../img/flags.png';
$nr: 160px 280px -160px -280px 40px 20px 404px 380px '../img/flags.png' 'nr';
$nz-name: 'nz';
$nz-x: 200px;
$nz-y: 280px;
$nz-offset-x: -200px;
$nz-offset-y: -280px;
$nz-width: 40px;
$nz-height: 20px;
$nz-total-width: 404px;
$nz-total-height: 380px;
$nz-image: '../img/flags.png';
$nz: 200px 280px -200px -280px 40px 20px 404px 380px '../img/flags.png' 'nz';
$om-name: 'om';
$om-x: 240px;
$om-y: 280px;
$om-offset-x: -240px;
$om-offset-y: -280px;
$om-width: 40px;
$om-height: 20px;
$om-total-width: 404px;
$om-total-height: 380px;
$om-image: '../img/flags.png';
$om: 240px 280px -240px -280px 40px 20px 404px 380px '../img/flags.png' 'om';
$pa-name: 'pa';
$pa-x: 280px;
$pa-y: 280px;
$pa-offset-x: -280px;
$pa-offset-y: -280px;
$pa-width: 30px;
$pa-height: 20px;
$pa-total-width: 404px;
$pa-total-height: 380px;
$pa-image: '../img/flags.png';
$pa: 280px 280px -280px -280px 30px 20px 404px 380px '../img/flags.png' 'pa';
$pe-name: 'pe';
$pe-x: 0px;
$pe-y: 300px;
$pe-offset-x: 0px;
$pe-offset-y: -300px;
$pe-width: 30px;
$pe-height: 20px;
$pe-total-width: 404px;
$pe-total-height: 380px;
$pe-image: '../img/flags.png';
$pe: 0px 300px 0px -300px 30px 20px 404px 380px '../img/flags.png' 'pe';
$pg-name: 'pg';
$pg-x: 61px;
$pg-y: 60px;
$pg-offset-x: -61px;
$pg-offset-y: -60px;
$pg-width: 27px;
$pg-height: 20px;
$pg-total-width: 404px;
$pg-total-height: 380px;
$pg-image: '../img/flags.png';
$pg: 61px 60px -61px -60px 27px 20px 404px 380px '../img/flags.png' 'pg';
$ph-name: 'ph';
$ph-x: 30px;
$ph-y: 300px;
$ph-offset-x: -30px;
$ph-offset-y: -300px;
$ph-width: 40px;
$ph-height: 20px;
$ph-total-width: 404px;
$ph-total-height: 380px;
$ph-image: '../img/flags.png';
$ph: 30px 300px -30px -300px 40px 20px 404px 380px '../img/flags.png' 'ph';
$pk-name: 'pk';
$pk-x: 70px;
$pk-y: 300px;
$pk-offset-x: -70px;
$pk-offset-y: -300px;
$pk-width: 30px;
$pk-height: 20px;
$pk-total-width: 404px;
$pk-total-height: 380px;
$pk-image: '../img/flags.png';
$pk: 70px 300px -70px -300px 30px 20px 404px 380px '../img/flags.png' 'pk';
$pl-name: 'pl';
$pl-x: 100px;
$pl-y: 300px;
$pl-offset-x: -100px;
$pl-offset-y: -300px;
$pl-width: 32px;
$pl-height: 20px;
$pl-total-width: 404px;
$pl-total-height: 380px;
$pl-image: '../img/flags.png';
$pl: 100px 300px -100px -300px 32px 20px 404px 380px '../img/flags.png' 'pl';
$pt-name: 'pt';
$pt-x: 132px;
$pt-y: 300px;
$pt-offset-x: -132px;
$pt-offset-y: -300px;
$pt-width: 30px;
$pt-height: 20px;
$pt-total-width: 404px;
$pt-total-height: 380px;
$pt-image: '../img/flags.png';
$pt: 132px 300px -132px -300px 30px 20px 404px 380px '../img/flags.png' 'pt';
$pw-name: 'pw';
$pw-x: 162px;
$pw-y: 300px;
$pw-offset-x: -162px;
$pw-offset-y: -300px;
$pw-width: 32px;
$pw-height: 20px;
$pw-total-width: 404px;
$pw-total-height: 380px;
$pw-image: '../img/flags.png';
$pw: 162px 300px -162px -300px 32px 20px 404px 380px '../img/flags.png' 'pw';
$py-name: 'py';
$py-x: 194px;
$py-y: 300px;
$py-offset-x: -194px;
$py-offset-y: -300px;
$py-width: 33px;
$py-height: 20px;
$py-total-width: 404px;
$py-total-height: 380px;
$py-image: '../img/flags.png';
$py: 194px 300px -194px -300px 33px 20px 404px 380px '../img/flags.png' 'py';
$qa-name: 'qa';
$qa-x: 227px;
$qa-y: 300px;
$qa-offset-x: -227px;
$qa-offset-y: -300px;
$qa-width: 51px;
$qa-height: 20px;
$qa-total-width: 404px;
$qa-total-height: 380px;
$qa-image: '../img/flags.png';
$qa: 227px 300px -227px -300px 51px 20px 404px 380px '../img/flags.png' 'qa';
$ro-name: 'ro';
$ro-x: 278px;
$ro-y: 300px;
$ro-offset-x: -278px;
$ro-offset-y: -300px;
$ro-width: 30px;
$ro-height: 20px;
$ro-total-width: 404px;
$ro-total-height: 380px;
$ro-image: '../img/flags.png';
$ro: 278px 300px -278px -300px 30px 20px 404px 380px '../img/flags.png' 'ro';
$rs-name: 'rs';
$rs-x: 336px;
$rs-y: 0px;
$rs-offset-x: -336px;
$rs-offset-y: 0px;
$rs-width: 30px;
$rs-height: 20px;
$rs-total-width: 404px;
$rs-total-height: 380px;
$rs-image: '../img/flags.png';
$rs: 336px 0px -336px 0px 30px 20px 404px 380px '../img/flags.png' 'rs';
$ru-name: 'ru';
$ru-x: 336px;
$ru-y: 20px;
$ru-offset-x: -336px;
$ru-offset-y: -20px;
$ru-width: 30px;
$ru-height: 20px;
$ru-total-width: 404px;
$ru-total-height: 380px;
$ru-image: '../img/flags.png';
$ru: 336px 20px -336px -20px 30px 20px 404px 380px '../img/flags.png' 'ru';
$rw-name: 'rw';
$rw-x: 336px;
$rw-y: 40px;
$rw-offset-x: -336px;
$rw-offset-y: -40px;
$rw-width: 30px;
$rw-height: 20px;
$rw-total-width: 404px;
$rw-total-height: 380px;
$rw-image: '../img/flags.png';
$rw: 336px 40px -336px -40px 30px 20px 404px 380px '../img/flags.png' 'rw';
$sa-name: 'sa';
$sa-x: 336px;
$sa-y: 60px;
$sa-offset-x: -336px;
$sa-offset-y: -60px;
$sa-width: 30px;
$sa-height: 20px;
$sa-total-width: 404px;
$sa-total-height: 380px;
$sa-image: '../img/flags.png';
$sa: 336px 60px -336px -60px 30px 20px 404px 380px '../img/flags.png' 'sa';
$sb-name: 'sb';
$sb-x: 0px;
$sb-y: 320px;
$sb-offset-x: 0px;
$sb-offset-y: -320px;
$sb-width: 40px;
$sb-height: 20px;
$sb-total-width: 404px;
$sb-total-height: 380px;
$sb-image: '../img/flags.png';
$sb: 0px 320px 0px -320px 40px 20px 404px 380px '../img/flags.png' 'sb';
$sc-name: 'sc';
$sc-x: 40px;
$sc-y: 320px;
$sc-offset-x: -40px;
$sc-offset-y: -320px;
$sc-width: 40px;
$sc-height: 20px;
$sc-total-width: 404px;
$sc-total-height: 380px;
$sc-image: '../img/flags.png';
$sc: 40px 320px -40px -320px 40px 20px 404px 380px '../img/flags.png' 'sc';
$sd-name: 'sd';
$sd-x: 80px;
$sd-y: 320px;
$sd-offset-x: -80px;
$sd-offset-y: -320px;
$sd-width: 40px;
$sd-height: 20px;
$sd-total-width: 404px;
$sd-total-height: 380px;
$sd-image: '../img/flags.png';
$sd: 80px 320px -80px -320px 40px 20px 404px 380px '../img/flags.png' 'sd';
$se-name: 'se';
$se-x: 120px;
$se-y: 320px;
$se-offset-x: -120px;
$se-offset-y: -320px;
$se-width: 32px;
$se-height: 20px;
$se-total-width: 404px;
$se-total-height: 380px;
$se-image: '../img/flags.png';
$se: 120px 320px -120px -320px 32px 20px 404px 380px '../img/flags.png' 'se';
$sg-name: 'sg';
$sg-x: 336px;
$sg-y: 80px;
$sg-offset-x: -336px;
$sg-offset-y: -80px;
$sg-width: 30px;
$sg-height: 20px;
$sg-total-width: 404px;
$sg-total-height: 380px;
$sg-image: '../img/flags.png';
$sg: 336px 80px -336px -80px 30px 20px 404px 380px '../img/flags.png' 'sg';
$si-name: 'si';
$si-x: 152px;
$si-y: 320px;
$si-offset-x: -152px;
$si-offset-y: -320px;
$si-width: 40px;
$si-height: 20px;
$si-total-width: 404px;
$si-total-height: 380px;
$si-image: '../img/flags.png';
$si: 152px 320px -152px -320px 40px 20px 404px 380px '../img/flags.png' 'si';
$sk-name: 'sk';
$sk-x: 336px;
$sk-y: 100px;
$sk-offset-x: -336px;
$sk-offset-y: -100px;
$sk-width: 30px;
$sk-height: 20px;
$sk-total-width: 404px;
$sk-total-height: 380px;
$sk-image: '../img/flags.png';
$sk: 336px 100px -336px -100px 30px 20px 404px 380px '../img/flags.png' 'sk';
$sl-name: 'sl';
$sl-x: 336px;
$sl-y: 120px;
$sl-offset-x: -336px;
$sl-offset-y: -120px;
$sl-width: 30px;
$sl-height: 20px;
$sl-total-width: 404px;
$sl-total-height: 380px;
$sl-image: '../img/flags.png';
$sl: 336px 120px -336px -120px 30px 20px 404px 380px '../img/flags.png' 'sl';
$sm-name: 'sm';
$sm-x: 336px;
$sm-y: 140px;
$sm-offset-x: -336px;
$sm-offset-y: -140px;
$sm-width: 27px;
$sm-height: 20px;
$sm-total-width: 404px;
$sm-total-height: 380px;
$sm-image: '../img/flags.png';
$sm: 336px 140px -336px -140px 27px 20px 404px 380px '../img/flags.png' 'sm';
$sn-name: 'sn';
$sn-x: 336px;
$sn-y: 160px;
$sn-offset-x: -336px;
$sn-offset-y: -160px;
$sn-width: 30px;
$sn-height: 20px;
$sn-total-width: 404px;
$sn-total-height: 380px;
$sn-image: '../img/flags.png';
$sn: 336px 160px -336px -160px 30px 20px 404px 380px '../img/flags.png' 'sn';
$so-name: 'so';
$so-x: 336px;
$so-y: 180px;
$so-offset-x: -336px;
$so-offset-y: -180px;
$so-width: 30px;
$so-height: 20px;
$so-total-width: 404px;
$so-total-height: 380px;
$so-image: '../img/flags.png';
$so: 336px 180px -336px -180px 30px 20px 404px 380px '../img/flags.png' 'so';
$sr-name: 'sr';
$sr-x: 336px;
$sr-y: 200px;
$sr-offset-x: -336px;
$sr-offset-y: -200px;
$sr-width: 30px;
$sr-height: 20px;
$sr-total-width: 404px;
$sr-total-height: 380px;
$sr-image: '../img/flags.png';
$sr: 336px 200px -336px -200px 30px 20px 404px 380px '../img/flags.png' 'sr';
$st-name: 'st';
$st-x: 192px;
$st-y: 320px;
$st-offset-x: -192px;
$st-offset-y: -320px;
$st-width: 40px;
$st-height: 20px;
$st-total-width: 404px;
$st-total-height: 380px;
$st-image: '../img/flags.png';
$st: 192px 320px -192px -320px 40px 20px 404px 380px '../img/flags.png' 'st';
$sv-name: 'sv';
$sv-x: 232px;
$sv-y: 320px;
$sv-offset-x: -232px;
$sv-offset-y: -320px;
$sv-width: 35px;
$sv-height: 20px;
$sv-total-width: 404px;
$sv-total-height: 380px;
$sv-image: '../img/flags.png';
$sv: 232px 320px -232px -320px 35px 20px 404px 380px '../img/flags.png' 'sv';
$sy-name: 'sy';
$sy-x: 336px;
$sy-y: 220px;
$sy-offset-x: -336px;
$sy-offset-y: -220px;
$sy-width: 30px;
$sy-height: 20px;
$sy-total-width: 404px;
$sy-total-height: 380px;
$sy-image: '../img/flags.png';
$sy: 336px 220px -336px -220px 30px 20px 404px 380px '../img/flags.png' 'sy';
$sz-name: 'sz';
$sz-x: 336px;
$sz-y: 240px;
$sz-offset-x: -336px;
$sz-offset-y: -240px;
$sz-width: 30px;
$sz-height: 20px;
$sz-total-width: 404px;
$sz-total-height: 380px;
$sz-image: '../img/flags.png';
$sz: 336px 240px -336px -240px 30px 20px 404px 380px '../img/flags.png' 'sz';
$td-name: 'td';
$td-x: 336px;
$td-y: 260px;
$td-offset-x: -336px;
$td-offset-y: -260px;
$td-width: 30px;
$td-height: 20px;
$td-total-width: 404px;
$td-total-height: 380px;
$td-image: '../img/flags.png';
$td: 336px 260px -336px -260px 30px 20px 404px 380px '../img/flags.png' 'td';
$tg-name: 'tg';
$tg-x: 267px;
$tg-y: 320px;
$tg-offset-x: -267px;
$tg-offset-y: -320px;
$tg-width: 32px;
$tg-height: 20px;
$tg-total-width: 404px;
$tg-total-height: 380px;
$tg-image: '../img/flags.png';
$tg: 267px 320px -267px -320px 32px 20px 404px 380px '../img/flags.png' 'tg';
$th-name: 'th';
$th-x: 336px;
$th-y: 280px;
$th-offset-x: -336px;
$th-offset-y: -280px;
$th-width: 30px;
$th-height: 20px;
$th-total-width: 404px;
$th-total-height: 380px;
$th-image: '../img/flags.png';
$th: 336px 280px -336px -280px 30px 20px 404px 380px '../img/flags.png' 'th';
$tj-name: 'tj';
$tj-x: 299px;
$tj-y: 320px;
$tj-offset-x: -299px;
$tj-offset-y: -320px;
$tj-width: 40px;
$tj-height: 20px;
$tj-total-width: 404px;
$tj-total-height: 380px;
$tj-image: '../img/flags.png';
$tj: 299px 320px -299px -320px 40px 20px 404px 380px '../img/flags.png' 'tj';
$tl-name: 'tl';
$tl-x: 0px;
$tl-y: 340px;
$tl-offset-x: 0px;
$tl-offset-y: -340px;
$tl-width: 40px;
$tl-height: 20px;
$tl-total-width: 404px;
$tl-total-height: 380px;
$tl-image: '../img/flags.png';
$tl: 0px 340px 0px -340px 40px 20px 404px 380px '../img/flags.png' 'tl';
$tm-name: 'tm';
$tm-x: 336px;
$tm-y: 300px;
$tm-offset-x: -336px;
$tm-offset-y: -300px;
$tm-width: 30px;
$tm-height: 20px;
$tm-total-width: 404px;
$tm-total-height: 380px;
$tm-image: '../img/flags.png';
$tm: 336px 300px -336px -300px 30px 20px 404px 380px '../img/flags.png' 'tm';
$tn-name: 'tn';
$tn-x: 40px;
$tn-y: 340px;
$tn-offset-x: -40px;
$tn-offset-y: -340px;
$tn-width: 30px;
$tn-height: 20px;
$tn-total-width: 404px;
$tn-total-height: 380px;
$tn-image: '../img/flags.png';
$tn: 40px 340px -40px -340px 30px 20px 404px 380px '../img/flags.png' 'tn';
$to-name: 'to';
$to-x: 70px;
$to-y: 340px;
$to-offset-x: -70px;
$to-offset-y: -340px;
$to-width: 40px;
$to-height: 20px;
$to-total-width: 404px;
$to-total-height: 380px;
$to-image: '../img/flags.png';
$to: 70px 340px -70px -340px 40px 20px 404px 380px '../img/flags.png' 'to';
$tr-name: 'tr';
$tr-x: 110px;
$tr-y: 340px;
$tr-offset-x: -110px;
$tr-offset-y: -340px;
$tr-width: 30px;
$tr-height: 20px;
$tr-total-width: 404px;
$tr-total-height: 380px;
$tr-image: '../img/flags.png';
$tr: 110px 340px -110px -340px 30px 20px 404px 380px '../img/flags.png' 'tr';
$tt-name: 'tt';
$tt-x: 140px;
$tt-y: 340px;
$tt-offset-x: -140px;
$tt-offset-y: -340px;
$tt-width: 33px;
$tt-height: 20px;
$tt-total-width: 404px;
$tt-total-height: 380px;
$tt-image: '../img/flags.png';
$tt: 140px 340px -140px -340px 33px 20px 404px 380px '../img/flags.png' 'tt';
$tv-name: 'tv';
$tv-x: 173px;
$tv-y: 340px;
$tv-offset-x: -173px;
$tv-offset-y: -340px;
$tv-width: 40px;
$tv-height: 20px;
$tv-total-width: 404px;
$tv-total-height: 380px;
$tv-image: '../img/flags.png';
$tv: 173px 340px -173px -340px 40px 20px 404px 380px '../img/flags.png' 'tv';
$tw-name: 'tw';
$tw-x: 213px;
$tw-y: 340px;
$tw-offset-x: -213px;
$tw-offset-y: -340px;
$tw-width: 30px;
$tw-height: 20px;
$tw-total-width: 404px;
$tw-total-height: 380px;
$tw-image: '../img/flags.png';
$tw: 213px 340px -213px -340px 30px 20px 404px 380px '../img/flags.png' 'tw';
$tz-name: 'tz';
$tz-x: 243px;
$tz-y: 340px;
$tz-offset-x: -243px;
$tz-offset-y: -340px;
$tz-width: 30px;
$tz-height: 20px;
$tz-total-width: 404px;
$tz-total-height: 380px;
$tz-image: '../img/flags.png';
$tz: 243px 340px -243px -340px 30px 20px 404px 380px '../img/flags.png' 'tz';
$ua-name: 'ua';
$ua-x: 273px;
$ua-y: 340px;
$ua-offset-x: -273px;
$ua-offset-y: -340px;
$ua-width: 30px;
$ua-height: 20px;
$ua-total-width: 404px;
$ua-total-height: 380px;
$ua-image: '../img/flags.png';
$ua: 273px 340px -273px -340px 30px 20px 404px 380px '../img/flags.png' 'ua';
$ug-name: 'ug';
$ug-x: 303px;
$ug-y: 340px;
$ug-offset-x: -303px;
$ug-offset-y: -340px;
$ug-width: 30px;
$ug-height: 20px;
$ug-total-width: 404px;
$ug-total-height: 380px;
$ug-image: '../img/flags.png';
$ug: 303px 340px -303px -340px 30px 20px 404px 380px '../img/flags.png' 'ug';
$us-name: 'us';
$us-x: 366px;
$us-y: 0px;
$us-offset-x: -366px;
$us-offset-y: 0px;
$us-width: 38px;
$us-height: 20px;
$us-total-width: 404px;
$us-total-height: 380px;
$us-image: '../img/flags.png';
$us: 366px 0px -366px 0px 38px 20px 404px 380px '../img/flags.png' 'us';
$uy-name: 'uy';
$uy-x: 366px;
$uy-y: 20px;
$uy-offset-x: -366px;
$uy-offset-y: -20px;
$uy-width: 30px;
$uy-height: 20px;
$uy-total-width: 404px;
$uy-total-height: 380px;
$uy-image: '../img/flags.png';
$uy: 366px 20px -366px -20px 30px 20px 404px 380px '../img/flags.png' 'uy';
$uz-name: 'uz';
$uz-x: 0px;
$uz-y: 360px;
$uz-offset-x: 0px;
$uz-offset-y: -360px;
$uz-width: 40px;
$uz-height: 20px;
$uz-total-width: 404px;
$uz-total-height: 380px;
$uz-image: '../img/flags.png';
$uz: 0px 360px 0px -360px 40px 20px 404px 380px '../img/flags.png' 'uz';
$va-name: 'va';
$va-x: 366px;
$va-y: 40px;
$va-offset-x: -366px;
$va-offset-y: -40px;
$va-width: 20px;
$va-height: 20px;
$va-total-width: 404px;
$va-total-height: 380px;
$va-image: '../img/flags.png';
$va: 366px 40px -366px -40px 20px 20px 404px 380px '../img/flags.png' 'va';
$vc-name: 'vc';
$vc-x: 366px;
$vc-y: 60px;
$vc-offset-x: -366px;
$vc-offset-y: -60px;
$vc-width: 30px;
$vc-height: 20px;
$vc-total-width: 404px;
$vc-total-height: 380px;
$vc-image: '../img/flags.png';
$vc: 366px 60px -366px -60px 30px 20px 404px 380px '../img/flags.png' 'vc';
$ve-name: 've';
$ve-x: 366px;
$ve-y: 80px;
$ve-offset-x: -366px;
$ve-offset-y: -80px;
$ve-width: 30px;
$ve-height: 20px;
$ve-total-width: 404px;
$ve-total-height: 380px;
$ve-image: '../img/flags.png';
$ve: 366px 80px -366px -80px 30px 20px 404px 380px '../img/flags.png' 've';
$vn-name: 'vn';
$vn-x: 366px;
$vn-y: 100px;
$vn-offset-x: -366px;
$vn-offset-y: -100px;
$vn-width: 30px;
$vn-height: 20px;
$vn-total-width: 404px;
$vn-total-height: 380px;
$vn-image: '../img/flags.png';
$vn: 366px 100px -366px -100px 30px 20px 404px 380px '../img/flags.png' 'vn';
$vu-name: 'vu';
$vu-x: 366px;
$vu-y: 120px;
$vu-offset-x: -366px;
$vu-offset-y: -120px;
$vu-width: 33px;
$vu-height: 20px;
$vu-total-width: 404px;
$vu-total-height: 380px;
$vu-image: '../img/flags.png';
$vu: 366px 120px -366px -120px 33px 20px 404px 380px '../img/flags.png' 'vu';
$ws-name: 'ws';
$ws-x: 40px;
$ws-y: 360px;
$ws-offset-x: -40px;
$ws-offset-y: -360px;
$ws-width: 40px;
$ws-height: 20px;
$ws-total-width: 404px;
$ws-total-height: 380px;
$ws-image: '../img/flags.png';
$ws: 40px 360px -40px -360px 40px 20px 404px 380px '../img/flags.png' 'ws';
$ye-name: 'ye';
$ye-x: 366px;
$ye-y: 140px;
$ye-offset-x: -366px;
$ye-offset-y: -140px;
$ye-width: 30px;
$ye-height: 20px;
$ye-total-width: 404px;
$ye-total-height: 380px;
$ye-image: '../img/flags.png';
$ye: 366px 140px -366px -140px 30px 20px 404px 380px '../img/flags.png' 'ye';
$za-name: 'za';
$za-x: 366px;
$za-y: 160px;
$za-offset-x: -366px;
$za-offset-y: -160px;
$za-width: 30px;
$za-height: 20px;
$za-total-width: 404px;
$za-total-height: 380px;
$za-image: '../img/flags.png';
$za: 366px 160px -366px -160px 30px 20px 404px 380px '../img/flags.png' 'za';
$zm-name: 'zm';
$zm-x: 366px;
$zm-y: 180px;
$zm-offset-x: -366px;
$zm-offset-y: -180px;
$zm-width: 30px;
$zm-height: 20px;
$zm-total-width: 404px;
$zm-total-height: 380px;
$zm-image: '../img/flags.png';
$zm: 366px 180px -366px -180px 30px 20px 404px 380px '../img/flags.png' 'zm';
$zw-name: 'zw';
$zw-x: 80px;
$zw-y: 360px;
$zw-offset-x: -80px;
$zw-offset-y: -360px;
$zw-width: 40px;
$zw-height: 20px;
$zw-total-width: 404px;
$zw-total-height: 380px;
$zw-image: '../img/flags.png';
$zw: 80px 360px -80px -360px 40px 20px 404px 380px '../img/flags.png' 'zw';
$spritesheet-width: 404px;
$spritesheet-height: 380px;
$spritesheet-image: '../img/flags.png';
$spritesheet-sprites: $ad $ae $af $ag $al $am $ao $ar $at $au $az $ba $bb $bd $be $bf $bg $bh $bi $bj $bn $bo $br $bs $bt $bw $by $bz $ca $cd $cf $cg $ch $ci $cl $cm $cn $co $cr $cu $cv $cy $cz $de $dj $dk $dm $do $dz $ec $ee $eg $eh $er $es $et $fi $fj $fm $fr $ga $gb $gd $ge $gh $gm $gn $gq $gr $gt $gw $gy $hn $hr $ht $hu $id $ie $il $in $iq $ir $is $it $jm $jo $jp $ke $kg $kh $ki $km $kn $kp $kr $ks $kw $kz $la $lb $lc $li $lk $lr $ls $lt $lu $lv $ly $ma $mc $md $me $mg $mh $mk $ml $mm $mn $mr $mt $mu $mv $mw $mx $my $mz $na $ne $ng $ni $nl $no $np $nr $nz $om $pa $pe $pg $ph $pk $pl $pt $pw $py $qa $ro $rs $ru $rw $sa $sb $sc $sd $se $sg $si $sk $sl $sm $sn $so $sr $st $sv $sy $sz $td $tg $th $tj $tl $tm $tn $to $tr $tt $tv $tw $tz $ua $ug $us $uy $uz $va $vc $ve $vn $vu $ws $ye $za $zm $zw;
$spritesheet: 404px 380px '../img/flags.png' $spritesheet-sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .flag-#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

@include sprites($spritesheet-sprites);

